/*header {
    height: 100px;
}
#logo,#titulo {
    background-color: rgb(240, 240, 240);
    background-color: #37A8EC;
    height: 100px;
}
#titulo>h1 {
    font-size: 72px;
}
#logo {
    padding: 20px;
}*/